/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* KEYFRAMES */

@keyframes orbit {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes appear {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideDown {

  from {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(0);
  }
}

/* ELEMENTS STYLES */
h1, h2 {
  animation: appear 4s ease-in , slideDown 4s ease-in-out;
  color: whitesmoke;
  font-family: Space Age , sans-serif;
  font-size: 60px;
  font-weight: 400;
  padding: 40px;
  text-align: center;
}

a {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

hr {
  margin: -21px;
  width: 400px;
}

li {
  list-style: none;
}

footer {
  align-items: center;
  background-color: black;
  color: whitesmoke;
  display: flex;
  font-family: Myriad Pro , sans-serif;
  font-size: 20px;
  height: 80px;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
}

/* UTILITY CLASSES */
.no__show {
  display: none;
}

.material-symbols-outlined {
  margin-left: 10px;
  margin-right: 5px;
}

/* CONTAINERS */
.page__container {
  background-image: url('./images/background.png');
  width: 100%;
}

.solar-system__container {
  height: 1000px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.mission__wrapper {
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  margin: 0 auto;
  width: 90%;
}

.mission__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

/* PLANET CARDS */
.planet__card, .Sun {
  height: 100px;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100px;
}

.planet__image {
  width: 50px;
}

.Sun {
  animation: appear 1.5s ease-in forwards;
  left: 48%;
  top: 36%;
}

.Sun img {
  width: 100px;
}

.Mercúrio {
  animation: orbit 2s linear infinite , appear 1.5s ease-in 0.3s forwards;
  left: 48%;
  top: 31%;
  transform-origin: 50% 100px;
}

.Mercúrio img {
  width: 40px;
}

.Vênus {
  animation: orbit 5.2s linear infinite , appear 1.5s ease-in 0.6s forwards;
  left: 48%;
  top: 27%;
  transform-origin: 50% 150px;
}

.Terra {
  animation: orbit 8.3s linear infinite , appear 1.5s ease-in 0.9s forwards;
  left: 48%;
  top: 24%;
  transform-origin: 50% 200px;
}

.Marte {
  animation: orbit 15.6s linear infinite , appear 1.5s ease-in 1.2s forwards;
  left: 48%;
  top: 20%;
  transform-origin: 50% 250px;
}

.Marte img {
  width: 45px;
}

.Júpiter {
  animation: orbit 98s linear infinite , appear 1.5s ease-in 1.5s forwards;
  left: 48%;
  top: 13%;
  transform-origin: 50% 300px;
}

.Júpiter img {
  width: 60px;
}

.Saturno {
  animation: orbit 244s linear infinite , appear 1.5s ease-in 1.8s forwards;
  left: 48%;
  top: 9%;
  transform-origin: 50% 350px;
}

.Saturno img {
  width: 60px;
}

.Urano {
  animation: orbit 796s linear infinite , appear 1.5s ease-in 2.1s forwards;
  left: 48%;
  top: 5%;
  transform-origin: 50% 400px;
}

.Netuno {
  animation: orbit 1300s linear infinite , appear 1.5s ease-in 2.4s forwards;
  left: 48%;
  top: 1%;
  transform-origin: 50% 450px;
}

/* MISSIONS CARDS */
.mission__card {
  animation: appear 4s ease-in , slideDown 4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.555);
  border: 1px solid whitesmoke;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.582);
  height: 150px;
  margin: 20px;
  text-align: center;
  transition: 0.3s ease-in-out;
  width: 400px;
}

.mission__card--content {
  display: flex;
  flex-direction: column;
  font-family: Myriad Pro , sans-serif;
  font-size: 20px;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
}

.mission__card--infos {
  align-items: center;
  display: flex;
  font-size: 17px;
  height: 50px;
  justify-content: space-between;
  margin-bottom: -5px;
}

.mission__card--name {
  font-size: 32px;
}

.mission__card:hover, a:hover {
  background-color: rgba(245, 245, 245, 0.767);
  border-color: black;
  box-shadow: 1px 1px 5px black;
  color: black;
  transform: scale(1.05);
}
